{{ ansible_managed | comment }}

{% for sender_can_maps_item in mailrelay_sender_canonical_maps %}
{{ sender_can_maps_item.name }} {{ sender_can_maps_item.target }}
{{ sender_can_maps_item.name }}@{{ mailrelay_myhostname_short }} {{ sender_can_maps_item.target }}
{{ sender_can_maps_item.name }}@{{ mailrelay_myhostname }} {{ sender_can_maps_item.target }}
{% endfor %}
